/**
 * Witty Map Admin settings
 *
 * @version 1
 * @author Robert John Concepcion
 */
#witty-pointer-wrap {
    width: 100px;
    height: 132px;
    position: relative;
}
#witty-pointer-wrap img {
    width: 100px;
    height: 100px;
    text-align: center;      
}
#witty-pointer-wrap a.witty-close {
    position: absolute;
    top: -1px;
    right: 1px;
}
#witty-pointer-wrap a.witty-close:hover {
    top: 0;
    right: 0;
    box-shadow: 0px 0px 0px 0px #000;
}