#witty-pointer-wrap {
    width: 100px;
    height: 132px;
    position: relative;
}
#witty-pointer-wrap img {
    width: 100px;
    height: 100px;
    text-align: center;      
}
#witty-pointer-wrap button {
    padding: 4px 0;
    width: 100%;
    background: rgb(63, 157, 74);
    border: 0;
    border-radius: 4px;
    color: #fff;
    box-shadow: 2px 2px 0px 0px #000;
    position: absolute;
    bottom: 0;
    left: -2px;
    cursor: pointer;
    outline: none;
}
#witty-pointer-wrap button:hover {
    left: 0px;
    bottom: -2px;
    box-shadow: 1px 1px 0px 0px #000;
    background: rgb(63, 157, 74);
}

a.litle-close {
    color: #fff;
    background: red;
    text-decoration: none;
    padding: 4px 9px 6px 9px;
    line-height: 1;
    border-radius: 4px;
    box-shadow: 1px 1px 0px 0px #000;
}

#witty-pointer-wrap a.litle-close {
    position: absolute;
    top: -1px;
    right: 1px;
}
#witty-pointer-wrap a.litle-close:hover {
    top: 0;
    right: 0;
    box-shadow: 0px 0px 0px 0px #000;
}